.Logo {
  background-color: white;
  padding: 8px;
  height: 11%;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 32px;
}

.Logo img {
  height: 100%;
}

@media (min-width: 500px) {
  .Logo {
    height: 80%;
    margin-bottom: 0;
  }
}
